absl-py==0.8.0
argh==0.26.2
astor==0.8.0
captcha-solver==0.1.1
certifi==2019.6.16
chardet==3.0.4
click==7.0
configparser==4.0.2
cycler==0.10.0
docker-pycreds==0.4.0
gast==0.3.2
gitdb2==2.0.6
gitpython==3.0.3
google-pasta==0.1.7
gql==0.1.0
graphql-core==2.2.1
grpcio==1.24.0
h5py==2.10.0
idna==2.8
joblib==0.13.2
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.3.0
kiwisolver==1.1.0
markdown==3.1.1
matplotlib==3.1.1
mpmath==1.1.0
nltk==3.3
numpy==1.17.2
nvidia-ml-py3==7.352.0
pandas==0.25.1
pathtools==0.1.2
pillow==5.3.0
pip==18.1
promise==2.2.1
protobuf==3.9.2
psutil==5.6.3
pyparsing==2.4.2
pytesseract==0.2.4
python-dateutil==2.8.0
pytz==2019.2
pyyaml==5.1.2
requests==2.22.0
rx==1.6.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
selenium==3.14.1
sentry-sdk==0.12.3
setuptools==39.0.1
shortuuid==0.5.0
six==1.11.0
sklearn==0.0
smmap2==2.0.5
subprocess32==3.5.4
sympy==1.3
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
urllib3==1.23
wandb==0.8.12
watchdog==0.9.0
werkzeug==0.16.0
wheel==0.33.6
wrapt==1.11.2